<app-header></app-header>
<br><br><br>
<form [formGroup]="myForm">
    <div class="mainData">
        <label>Nombre </label>
        <mat-form-field appearance="outline" >
            <input matInput formControlName="name" placeholder="Placeholder">
                <mat-icon matSuffix>delete</mat-icon>
            </mat-form-field>
        </div>
        <div class="mainData">
            <label>Apellido 1 </label>
            <mat-form-field appearance="outline" >
                <input matInput formControlName="surname1" placeholder="Placeholder">
                <mat-icon matSuffix>delete</mat-icon>
            </mat-form-field>
        </div>
        <div class="mainData">
            <label>Apellido 2 </label>
            <mat-form-field appearance="outline">
                <input matInput formControlName="surname2" placeholder="Placeholder">
                <mat-icon matSuffix>delete</mat-icon>
            </mat-form-field>
        </div>
    </form>
    <div class="dataContainer">
        <mat-accordion>
            <div *ngFor="let item of formData">
                <app-form-card #coso [titles]="item.title" [formData]="item.data" [responses]="item.responses" [ampliable]="item.ampliable" ></app-form-card>
            </div>
        </mat-accordion> 
    </div>
    <button mat-raised-button type="button" (click)="enviarEvento()">Mostrar pdf</button>
