<app-header></app-header>
<!-- <div class="custom-accordion">
    <br><br><br>
    <form [formGroup]="myForm" class="mainData">
        <div class="basicData">
            <label>Nombre </label>
            <mat-form-field appearance="outline">
                <input matInput formControlName="name" placeholder="Placeholder">
                <mat-icon matSuffix>delete</mat-icon>
            </mat-form-field>
        </div>
        <div class="basicData">
            <label>Apellido 1 </label>
            <mat-form-field appearance="outline">
                <input matInput formControlName="surname1" placeholder="Placeholder">
                <mat-icon matSuffix>delete</mat-icon>
            </mat-form-field>
        </div>
        <div class="basicData">
            <label>Apellido 2 </label>
            <mat-form-field appearance="outline">
                <input matInput formControlName="surname2" placeholder="Placeholder">
                <mat-icon matSuffix>delete</mat-icon>
            </mat-form-field>
        </div>
    </form>
</div> -->
<div #dataContainer class="custom-accordion">
    <div class="example-action-buttons">
        <button mat-button (click)="accordion.openAll()">Expand All</button>
        <button mat-button (click)="accordion.closeAll()">Collapse All</button>
      </div>
    <mat-accordion style="max-width: 800px; width: 100%;" [multi]="true">
        <div *ngFor="let item of formData; let i = index" class="dataContainer">
            <app-form-card #accordionCard [header]="item.header" [titles]="item.titles"
                [ampliable]="item.ampliable"></app-form-card>
        </div>
    </mat-accordion>
</div>
<div class="custom-accordion" style="margin: 20px;">
    <button id="showPdf" mat-raised-button type="button" (click)="enviarEvento()">Mostrar pdf</button>
</div>
<button mat-fab (click)="scrolltoPdfMaker()" class="scroll-button"><mat-icon>arrow_downward</mat-icon></button>