.mainData {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    margin: 20px;
}

.custom-accordion {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-left: 20px;
}

.dataContainer {
    margin: 1px;
    max-width: 800px;
}

.basicData {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 20px;
}
