<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{header}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="myForm" style="position: relative;">
        <div formArrayName="groupArray">
            <mat-grid-list *ngFor="let input of groupArrayControls; let i = index" cols="2" rowHeight="100px"
                class="hflexcenter">
                <div [formGroupName]="i">
                    <mat-grid-tile *ngFor="let item of getFormGroupControls(); let j = index" class="tasks-container">
                        <label>{{titles[j]}}</label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Placeholder" #inputs formControlName="{{item}}">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="getDeleteBtnColspan()" class="deleteBtn">
                        <button *ngIf="ampliable" mat-icon-button (click)="deleteFormGroup(i)">
                            <mat-icon color="warn">delete</mat-icon>
                        </button>
                    </mat-grid-tile>
                </div>
                <mat-divider></mat-divider>
            </mat-grid-list>
        </div>
    </form>

    <div *ngIf="ampliable" style="display: flex; justify-content: center;">
        <button mat-icon-button color="primary" (click)="addFormGroup()"><mat-icon>add</mat-icon></button>
    </div>
</mat-expansion-panel>